<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
    <div class="collection-hero__inner page-width">
      <div class="collection-hero__text-wrapper">
        <h1 class="collection-hero__title">
          {{- collection.title | escape -}}
        </h1>
  
        {%- if section.settings.show_collection_description -%}
          <div class="collection-hero__description rte">{{ collection.description }}</div>
        {%- endif -%}
      </div>
  